body {
  background-color: #f0ebf8;
}

.titleBox {
  width: 700px;
  background-color: white;
  height: 80px;
  margin: 20px auto;
  border-radius: 10px;
  border: 0.2px solid #d9dce0;
  padding: 30px;
  font-size: 30px;
}

.titleBox1 {
  font-size: 25px;
  border: none;
}

.titleBox2 {
  color: #707579;
  border: none;
  font-size: 15px;
  margin-top: 20px;
}

.contentBox {
  width: 700px;
  background-color: white;
  height: 100px;
  margin: 20px auto;
  border-radius: 10px;
  border: 0.2px solid #d9dce0;
  padding: 30px;
  font-size: 30px;
}

.contentBox1 {
  font-size: 25px;
  border: none;
  width: 80%;
}

.contentBoxFlex {
  display: flex;
}

.contentBox2 {
  color: #707579;
  border: none;
  font-size: 15px;
  margin-top: 20px;
}

.shortText,
.longText {
  border: none;
  font-size: 15px;
  color: #707579;
  margin-top: 20px;
}

.option {
  display: flex;
  font-size: 15px;
  color: #707579;
  margin-top: 15px;
}

.optionText {
  margin-left: 10px;
  border: none;
  font-size: 15px;
}

.optionDelete {
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: 15px;
  color: #707579;
  cursor: pointer;
  margin: auto 10px auto auto;
}
